# Created by .ignore support plugin (hsz.mobi)
/data/
/processed_data/
/raw_data/
/road_processing/osm_road_del.gdb/
/road_processing/osm_road_simp.gdb/
/.idea/
/road_processing/siwei_road_simp/
/road_processing/siwei_motorway_simp.gdb/
/road_processing/siwei_road_simp.gdb/
